certifi==2021.10.8
chardet==4.0.0
contextlib2==0.6.0.post1
Cython==0.29
decorator==4.4.2
futures==3.4.0
imageio==2.4.1
importlib-resources==3.3.1
meshio==2.3.10
moviepy==1.0.3
ninja==1.11.1.1
numpy==1.16.6
omegaconf==1.4.1
pathlib2==2.3.7.post1
Pillow==6.2.2
pip==20.3.4
proglog==0.1.10
PyOpenGL==3.1.7
PyYAML==5.4.1
requests==2.27.1
scandir==1.10.0
scikit-learn==0.20.4
scipy==1.2.3
setuptools==44.1.1
singledispatch==3.7.0
torchfile==0.1.0
tqdm==4.64.1
typing==3.10.0.0
typing-extensions==3.10.0.2
urllib3==1.26.16
zipp==1.2.0
